.movie-tile {
  display: flex;
  flex-flow: column;
  margin-right: 0.3em;
}

.movie-tile-title {
  margin: 0;
  white-space: pre-wrap;
  text-align: center;
}

.movie-tile:hover {
  border: 1px solid red;
}

.movie-tile:focus {
  border: 1px solid red;
}
