@import './global.scss';
body {
  margin: 0;
  padding: 0;
  background-color: $content-bg-color;
  color: $main-text-color;
  font-family: 'Space Mono', monospace;
  font-size: $base-font-size;
  line-height: $base-line-height;

  @media #{$mq-smaller} {
    font-size: $base-font-size * 0.5;
    line-height: $base-line-height * 0.5;
  }

  @media #{$mq-small} {
    font-size: $base-font-size * 0.6;
    line-height: $base-line-height * 0.6;
  }

  @media #{$mq-medium} {
    font-size: $base-font-size * 0.8;
    line-height: $base-line-height * 0.8;
  }

  @media #{$mq-large} {
    font-size: $base-font-size * 1.06;
  }

  @media #{$mq-xlarge} {
    font-size: $base-font-size * 1.5;
  }

  @media #{$mq-xxlarge} {
    font-size: $base-font-size * 2;
  }

  @media #{$mq-xxxlarge} {
    font-size: $base-font-size * 3;
  }
}
